<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h2> Your wall! </h2>
    </div>
    <button id="postButton" type="button" class="btn btn-primary pull-right margin-right">Post on this wall</button>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-9">
          <%- if @posts %>
            <% @posts.each do |post| %>
              <%= render "layouts/post", :post => post %>
            <% end %>
          <% else %>
            <div class="alert alert-info" role="alert"> There are no posts on your wall! </div>
          <% end -%>
        </div>
        <div class="col-md-3">
          <h5> Recommended Users </h5>
          <%- if @relevantPopularUsers %>
            <% @relevantPopularUsers.each do |user| %>
              <%= render "layouts/userPartial", :user => user %>
            <%end%>
          <% else %>
            <div class="alert alert-info" role="alert"> We have no recommended users for you! Yet! </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="coverer"> &nbsp </div>

<div id="postPopUp" class="panel panel-default content hidden">
  <div class="panel-body">
    <div class="page-header">
      <h2>Say something nice <small>please...</small></h2>
      <%= form_for [current_user, @wall, Post.new] do |f| %>
        <%= f.text_area :text, class: "form-control" %>
        <div class="row">
          <%= link_to "Cancel", url_for(params), :class => "btn btn-default pull-left left-top-margin", method: :get%>
          <%= f.submit "Post", :class => "btn btn-primary pull-right right-top-margin"%>
        </div>
      <% end %>

    </div>
  </div>
</div>
