.row
  .col-md-1
    .btn.btn-link Like
  .col-md-2
    .btn.btn-link{"data-toggle" => "collapse", "data-target" => "#uniqueId" + unique_id } Comment
  .col-md-9
.collapse{:id => "uniqueId" + unique_id}
  - if !post.comments.blank?
    - post.comments.each do |comment|
      .row
        .col-md-1
        .col-md-10
          .panel.panel-default
            .panel-heading
              .row
                .col-md-1
                  %img{:src => comment.user.profile.avatar, :alt => "avatar image", :width => 25, :height => 25 }
                .col-md-11
                  = comment.user.profile.first_name + " said:"
            .panel-body
              = comment.text
        .col-md-1
  .row
    .col-md-1
    .col-md-10
      = form_for [current_user, post.wall, post, Comment.new], :class => "margin-fix" do |f|
        .input-group
          = f.text_field :text, { :class => "form-control", :placeholder => "Post a comment..." }
          %span.input-group-btn
            = f.submit "Post Comment", :class => "btn btn-default"
    .col-md-1
  .row
    .col-md-12
      &nbsp
