.row
  .col-md-4
  .col-md-4
    .panel.panel-default
      .panel-heading
        .row
          .col-md-2
            .thumbnail
              %img{:src => post.user.profile.avatar, :alt => "avatar image", :width => 50, :height => 50 }
          .col-md-10
            - if current_user.id == post.user.id
              %h3.panel-title You said:
            - else
              %h3.panel-title= post.user.profile.first_name + " said"
      .panel-body
        %p= post.text
      = render "layouts/comments", :post => post, :unique_id => post.id.to_s
    /
      = form_for [current_user, post.wall, post, Comment.new], :class => "margin-fix" do |f|
        .input-group
          = f.text_field :text, { :class => "form-control", :placeholder => "Post a comment..." }
          %span.input-group-btn
            = f.submit "Post Comment", :class => "btn btn-default"
